<b>
    Πως μπορώ να απεγκαταστήσω αυτή την εφαρμογή;
</b><br/>
Πηγαίντε στις Ρυθμίσεις > Ασφάλεια > Διαχειριστές συσκευής και <a href="acdisplay://remove_admin_access">αποεπιλέξτε</a> το AcDisplay.  Μπορείτε τώρα να <a href="acdisplay://uninstall">απεγκαταστήσετε</a> το AcDisplay.
<br/><br/>

<b>
    Πως απενεργοποιω τις σταθερές ενημερώσεις της ενεργής λειτουργίας ή της οθόνης κλειδώματος;
</b><br/>
Αυτή η ειδοποίηση είναι απαραίτητη για να μην τερματιστεί το AcDisplay από το σύστημα. Ωστόσο, για να την αποκρύψετε ασφαλώς (η δοκιμαστική ειδοποίηση πλέον δεν λειτουργεί!). <a
        href="acdisplay://launch_app_info">Πηγαίντε στις πληροφορίες της εφαρμογής</a> και απενεργοποιήστε την εμφάνιση ειδοποιήσεων.
<br/><br/>

<b>
    Βλέπω ένα τυπογραφικό λάθος στη μετάφραση!
</b><br/>
Ευχαριστούμε, μπορείτε εύκολα να βοηθήσετε με αυτό. Εγγραφείτε στην <a
        href="https://crowdin.net/project/acdisplay">σελίδα</a> της εφαρμογής στο crowdin.net και προτείνετε μια καλύτερη μετάφραση.
<br/><br/>

<b>
    Πώς να χρησιμοποιήσω την μαύρη λίστα;
</b><br/>
Για να χρησιμοποιήσετε τη μαύρη λίστα, πρέπει να ενεργοποιήσετε την εφαρμογή και καθώς και να την ρυθμίσετε.  Για να την ενεργοποιήσετε, απλά κάντε κλικ στο κουμπί-διακόπτη.  Για να ρυθμίσετε την εφαρμογή, κάντε κλικ στο στοιχείο που θέλετε να ρυθμίσετε.