<b>
    Hoe kan ek hierdie app verwyder?
</b><br/>
Gaan na Instellings > Sekuriteit > Toestelbestuurders  en <a href="acdisplay://remove_admin_access">ontmerk</a> AcDisplay.
Jy kan nou <a href="acdisplay://uninstall">verwyder</a> AcDisplay.
<br/><br/>

<b>
    Hoe kan ek die permanente kennisgewings van die aktiewe modus van die vergrendelingsscherm deaktiveer?
</b><br/>
Die kennisgewings is noodsaaklik om te verseker dat AcDisplay nie gestop word deur die stelsel. Egter, om dit veilig te verberg (die toets melding sal nie meer werk nie!) <a
        href="acdisplay://launch_app_info">open app info</a> en skakel: "kennisgewings vertoon" uit.
<br/><br/>

<b>
    Ek sien 'n fout in die vertaling!
</b><br/>
Dankie, hier kan jy maklik mee help. Meld aan op die apps <a
        href="https://crowdin.net/project/acdisplay">website</a> op crowdin en stel 'n beter vertaling voor.
<br/><br/>

<b>
    Hoe gebruik ek die swartlys?
</b><br/>
Voor die gebruik van die swartlys, moet jy die app aanset en instel. As jy 'n item op die swartlys wil sit kliek op die skakelaar. As jy iets wil instel vir die app, kliek op die item wat jy wil konfigureer.