<b>
    Como fazer para desinstalar esta aplicação?
</b><br/>
Go to Settings > Security > Device Administrators and <a href="acdisplay://remove_admin_access">uncheck</a> AcDisplay.
You can now <a href="acdisplay://uninstall">uninstall</a> AcDisplay normally.
<br/><br/>

<b>
    How to dismiss the permanent notifications of active mode or the lockscreen?
</b><br/>
The notification is necessary to ensure AcDisplay isn't killed by the system.
However, to hide it safely (sending test notification won't function anymore!) <a
        href="acdisplay://launch_app_info">launch app info</a> and disable showing notifications.
<br/><br/>

<b>
    I can see a typo / mistake in the translation!
</b><br/>
Thanks, you can easily help out with that.
Join the app's <a
        href="https://crowdin.net/project/acdisplay">page</a> on crowdin and suggest a better translation.
<br/><br/>

<b>
    How to use the blacklist?
</b><br/>
To use the blacklist, you must enable the app and configure it as well.
To enable it, simply click the switch button.
To configure it for the app, click the item you want to configure.