<b>
    Wie kann ich die App deinstallieren?
</b><br/>
Gehe zu Einstellungen > Sicherheit > Geräteadministratoren und <a href="acdisplay://remove_admin_access">deaktiviere</a> AcDisplay. Jetzt kannst du die App <a href="acdisplay://uninstall">deinstallieren</a> .
<br/><br/>

<b>
    Wie kann ich die ständigen Benachrichtigungen des aktiven Modus oder den Sperrbildschirm entfernen?
</b><br/>
Die Benachrichtigung ist notwendig damit AcDisplay nicht vom System beendet wird. Um sie aber problemlos zu verstecken (Dann wird die Test-Benachrichtigung nicht mehr funktionieren!) <a
        href="acdisplay://launch_app_info">öffne die App-Info</a> und deaktiviere das Anzeigen von Benachrichtigungen.
<br/><br/>

<b>
    Ich habe einen Fehler in der Übersetzung gefunden!
</b><br/>
Danke, Du kannst uns dabei ganz einfach helfen. Öffne die Anwendungs- <a
        href="https://crowdin.net/project/acdisplay">Seite</a> auf crowdin und schlage eine bessere Übersetzung vor.
<br/><br/>

<b>
    Wie verwende ich die Sperrliste?
</b><br/>
Um die Sperrliste verwenden zu können musst du die App aktivieren und die Sperrliste ebenfalls konfigurieren. Um sie zu aktivieren, aktiviere einfach den Schalter. Um sie zu für die App zu konfigurieren, klicke auf das Element das du bearbeiten willst.