<b>
    Hoe kan ik deze app deïnstalleren?
</b><br/>
Ga naar Instellingen > Beveiliging > Apparaat Beheerders en <a href="acdisplay://remove_admin_access">schakel</a> AcDisplay uit.  U kunt AcDisplay nu normaal <a href="acdisplay://uninstall">verwijderen</a> AcDisplay normaal.
<br/><br/>

<b>
    Hoe kan ik de permanente meldingen van de actieve modus of het vergrendelingsscherm uitschakelen?
</b><br/>
De meldingen zijn noodzakelijk om ervoor te zorgen dat AcDisplay niet gestopt wordt door het systeem. Echter, om het veilig te verbergen (de test melding zal niet meer werken!) <a
        href="acdisplay://launch_app_info">open app info</a> en schakel: "meldingen weergeven" uit.
<br/><br/>

<b>
    Ik zie een fout in de vertaling!
</b><br/>
Bedankt, hier kan u gemakkelijk mee helpen. Meld u aan op de apps <a
        href="https://crowdin.net/project/acdisplay">pagina</a> op crowdin en stel een betere vertaling voor.
<br/><br/>

<b>
    Hoe gebruik ik de blacklist?
</b><br/>
Voor het gebruik van de blacklist, moet u de app inschakelen en configureren. Als u een item op de blacklist wil zetten klikt u op de schakelaar.  Als u iets wilt configureren voor de app, klikt u op het item dat u wilt configureren.